body {
  background-color: #2a363b;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 18px;
}

li {
  float: right;
}

li a {
  display: block;
  border-radius: 20px;
  block-size: 1.5em;
  color: black;
  text-align: center;
  padding: 0.5em 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff847c;
  color: #2a363b;
}

.container {
  background-color: #e84a5f;
  margin: 0;
  padding: 20px;
  height: 4em;
}

.app-logo {
  padding: 0.5px;
  margin: 0.1px;
}

.app-logo img {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  object-fit: cover;
}

.dropdown-profile {
  padding: 10px;
  margin-right: 30px;
  float: right;
}

.dropdown-profile:hover .dropdown-content {
  display: block;
}

.profile-image img {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 2em;
  box-shadow: 0 4px 1px #2a363b;
  object-fit: cover;
}

.profile-image img:hover {
  background-color: #ff847c;
}

.dropdown-content {
  display: none;
  border-radius: 25px;
  position: fixed;
  top: 70px;
  right: 5px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #99b898;
}

.search-box {
  float: left;
  margin: 20px;
  margin-left: 80px;
}

.search-box input[type="search"] {
  width: 300px;
  height: 30px;
  border-radius: 50px;
  border: none;
}
