    /* DIVIDING THE PAGE IN 12-COL
Creating a grid-view qith 12 colums and to allow control of where items are placed*/
    
    * {
        box-sizing: border-box;
    }
    
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    
    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    /* END OF PAGE DIVISION */
    /* header {
    position: sticky;
    top: 0;
} */
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #bebebe;
        margin: 0;
        padding: 0;
    }
    /* NAVIGATION BAR */
    
    .navbar {
        background-color: #e84a5f;
    }
    
    ul {
        list-style-type: none;
        margin: 18px;
    }
    
    li {
        float: right;
    }
    
    li a {
        display: block;
        border-radius: 25px;
        block-size: 1.9em;
        color: black;
        text-align: center;
        padding: .3em 15px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #FF847C;
        color: hsl(197, 18%, 85%);
    }
    /* app logo */
    
    .app-logo {
        margin: 0;
        position: fixed;
    }
    
    .app-logo img {
        width: 70px;
        height: 70px;
        padding: 5px;
        object-fit: cover;
    }
    /* profile picture/menu area */
    
    .dropdown-profile {
        padding: 1px;
        margin: 10px;
        float: right;
    }
    
    .dropdown-profile:hover .dropdown-content {
        display: block;
    }
    
    .profile-image img {
        width: 55px;
        height: 55px;
        padding: 5px;
        border-radius: 2em;
        box-shadow: 0 4px 1px #2A363B;
        object-fit: cover;
    }
    
    .profile-image img:hover {
        background-color: #FF847C;
    }
    
    .nav-links {
        padding: 30px;
        margin: 0;
    }
    /* Drop down menu */
    
    .dropdown-content {
        display: none;
        border-radius: 25px;
        position: fixed;
        top: 70px;
        right: 5px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .first-dropdown {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    .last-dropdown {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    .dropdown-content a:hover {
        background-color: #99B898;
    }
    /* Search area */
    
    .search-box {
        float: left;
        margin-left: 50px;
        padding: 25px;
    }
    
    .search-box input[type=search] {
        width: 350px;
        height: 30px;
        border-radius: 20px;
        border: 2px solid;
    }
    /* END OF NAVIGATION BAR */
    /* SECTION */
    
    .happening-section-title {
        text-align: center;
    }
    
    .all-events {
        margin-left: 30px;
        padding: 30px;
    }
    
    .all-events-text {
        text-align: center;
        margin: 0 -35px;
        background-color: #2A363B;
        border: none;
        color: #f1f1f1;
    }
    /* BODY */
    /* Float four columns side by side */
    
    .column {
        float: left;
        width: 25%;
        padding: 15px;
    }
    /* Remove extra left and right margins, due to padding in columns */
    
    .row {
        margin: 0 -5px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the counter cards */
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* this adds the "card" effect */
        padding: 16px;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        background-color: #f1f1f1;
    }
    
    .ncard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* this adds the "card" effect */
        padding: 16px;
        border: 2px solid white;
        border-radius: 25px;
        text-align: center;
        background-color: #f1f1f1;
    }
    
    .ncolumn {
        float: left;
        width: 100%;
        padding: 15px;
    }
    
    .ncard img {
        float: left;
        width: 100%;
        border-radius: 25px;
    }
    
    .card img {
        float: left;
        width: 100%;
        border-radius: 25px;
    }
    
    .card:hover {
        border: 2px solid #99B898;
    }
    /* Responsive columns - one column layout (vertical) on small screens */
    
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }