body {
  background-color: rgba(134, 143, 150, 1);
  font-family: Poppins;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.photo {
  /* background-color: pink; */
}

.photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.loginForm {
  /* background-color: blue; */
}

.Text-des {
  /* background-color: pink; */
}

#whit-board {
  text-align: center;
  font-size: 56px;
  color: white;
  font-weight: regular;
}

#text-des {
  text-align: center;
  font-size: 28px;
  color: white;
}
