<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="stylesheet" type="text/css" href="/static/event.css">
</head>

<header>
    <div class="header">
        <!-- Begin Navigation bar -->
        <div class="navbar">
            <!-- Begin website logo -->
            <div class="row">
                <div class="app-logo">
                    <a href="/home"><img src="https://bit.ly/3DLBCct" alt="app logo"> </a>
                </div>
                <!-- End website logo -->
                <!--Begin Menu Profile -->
                <div class="dropdown-profile">
                    <div class="profile-image">
                        <a><img src="https://bit.ly/3F1dWC0" alt="profile-image"> </a>
                    </div>
                    <div class="dropdown-content">
                        <a href="#" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">Create Event</a>
                        <a href="#">My Events</a>
                        <a href="#">Calender</a>
                        <a href="#">Edit Profile</a>
                        <a href="/logout" onclick="" style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">Log Out</a>
                    </div>
                    <!--End Profile Menu -->
                </div>
                <!-- Begin Search to be impleted as live search with pagination -->
                <div class="search-box"><input type="search" placeholder="   Search for an event ..." alt="Search area">
                </div>
                <!-- End search -->
                <!-- OPTIONAL LINKs -->
                <ul class="nav-links">
                    <li><a href="#myevents">Feeling Lucky!</a></li>
                </ul>
            </div>
        </div>
        <!-- End Navigation Bar -->
</header>

<section>
    <div class="top-text">
        <a class="event-titles"><b><i>Happening now</i></b></a>
    </div>
</section>

</html>