{% extends "base.html" %}

{% block css %}
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel= "stylesheet" type= "text/css" href= "../static/landing-page.css"> 
{% endblock %}

{% block title %} Welcome to WhitBoard {% endblock %}


{% block content %}

<div class="container">


    <div class="photo">
        <img src="https://i.ibb.co/RyMsngg/landing-Page.jpg" alt="College event">
    </div>
    
    
    
    <div class="loginForm">
        <div class="Text-des">
            <h1 id="whit-board">WhitBoard</h1>
            <p id="text-des">Where students promote and get up-to-date events at Whitman</p>
        </div>
    </div>

</div>



{% endblock %}