{% extends 'event-base.html' %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}


{% block title %}
    My Event
{% endblock %}

{% block body %}


    <h1 style="display: inline-block; margin: 0;">Event ------------------</h1>
    <button type="button">+ New Event</button>
    <hr>


    {% for event in allEvents %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://img.static-kl.com/images/media/E95E1F32-A7A4-4FC0-AC0A41A2BC528AE3?aspect_ratio=1:1&min_width=912" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{event[1]}}</h5>
                <p class="card-text">{{event[2]}}</p>
                <p class="card-text">
                    <small class="text-muted"><b>Time:</b> {{event[3]}}</small>
                    <br>
                    <small class="text-muted"><b>Location:</b> {{event[4]}}</small>
                    </p>
                </div>
                <form action="#">
                  <span>-------------------</span><button>Delete</button><span>-------------------</span>
                </form>
                <form action="#">
                  <span>--------------------</span><button>Edit</button><span>--------------------</span>
                </form>
            </div>
            </div>
        </div>
    {% endfor %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}


